@model SKLadiesCorner.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingStateProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingStateProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingStateProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingStateProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
